.banner {
    background: #3C3C3C;
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.bannerImage{
    position: absolute;
    left: 15%;
}

.bannerTitle{
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
}

.bannerTitleLight{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
}

.bannerTitleStrong{
    font-weight: 700;
    font-size: 33px;
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {
    .banner{
        height: 400px;
    }
    .bannerImage{
        left: 5%;
        width: 90%;
    }
    .bannerTitle{
        line-height: 30px;
        padding: 0px 25px;
    }
    .bannerTitleLight{
        font-size: 15px;
    }
    .bannerTitleStrong{
        font-size: 25px;
    }
}