* { 
    font-family: 'Montserrat'; 
    margin: 0;
}

.navbar, .logo_left, #img_logo, .items_right, ul, #btn_donate {
    margin: 0;
    padding: 0;
}

.navbar, .logo_left, #img_logo, .item, #btn_contact,.items_right {
    height: var(--height);
}

.items_right, ul, .item {
    display: flex;
    color: black;
}

.navbar {
    background-color: var(--white-primary-solid);
    display: flex;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}

.logo_left {
    width: 15%;
    margin-left: 4%;
    margin-right: 17%;
}

.items_right {
    width: 64%;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

.item {
    list-style: none;
    padding: 0 38px;
    align-items: center;
}

#btn_donate {
    border-bottom: 2px solid black;
}

#btn_contact {
    background-color: var(--red-primary-solid);
    color: var(--white-primary-solid);
    padding: 0 26.5px;
    display: flex;
    align-items: center;
}

#text-item1 , #text-item2, #text-item3, #text-item4, #text-item5 { 
    text-decoration: none;
    color: black;
}

a > span {
    line-height: var(--height);
}

li:hover {
    background-color: var(--grey-primary-solid);
}