.welcome {
    height: 390px;
    width: 100%;
    background-image: url(../img/Welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 299px;
}

.rectangle, #btn_want_donate {
    color: var(--white-primary-solid);
}

.rectangle {
    background-color: var(--red-primary-transparent);
    border-radius: 0px 44px;
    width: 700px;
    height: 180px;
    margin-left: 164px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle > h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
} 

.rectangle > p {
    margin-left: 70px;
    margin-right: 210px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 4%;
}

#btn_want_donate {
    width: 220px;
    height: 50px;
    margin-top: 20px;
    margin-left: 235px;
    border: 3px solid var(--white-primary-solid);
    cursor: pointer;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
}